<!doctype html>
<html>

<head>
    <title>فایل‌های اشتراک گذاری شده</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <h1>سرور انتقال فایل</h1>
            <nav>
                <ul class="nav">
                    <li><a href="{{ url_for('index') }}">خانه</a></li>
                    <li><a href="{{ url_for('upload_file') }}">آپلود فایل</a></li>
                    <li><a href="{{ url_for('list_files') }}">فایل‌‌های آپلود شده</a></li>
                    <li><a href="{{ url_for('list_shared_files') }}">فایل‌های اشتراک گذاری شده</a></li>
                    <li><a href="{{ url_for('list_media_files') }}">فایل‌های مدیا</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>فایل‌های اشتراک گذاری شده</h2>
            <ul class="file-list">
                {% for file in files %}
                <li><a href="{{ url_for('download_shared_file', filename=file) }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </main>
    </div>
</body>

</html>